<html lang="de-DE">
	<style type="text/css">
	td{
		test-align: left;
		padding: 10px;
		border: 1px solid gray;
	}
	tr {
		font-family: 'Open Sans', sans-serif;
		color: #737579;
		line-height: 1.8;
		word-wrap: break-word;
	}
	th {
		font-weight: bold;
		background-color: #DDD;
		text-align: left;
		padding: 5px;
		border: 1px solid gray;
	}
	table {
		border-collapse: separate;
		margin-bottom: 20px;
		border: 1px solid #dddddd;
		border-spacing: 0;
	}
	.sternchen{
		color: #F00;
	}
	h1 {
		font-family: 'Open Sans', sans-serif;
	}	
	</style>

	<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
	
		<h1>Meldeliste für {{ Event }}</h1>
	
	<table style="width:100%">
		
		<tr>
			<th>Steuermann</th>
			<th>Segelnummer</th>
			<th>Club</th>
			<th>Bootsklasse</th>
			<th>Yardstick</th>
			<th>Bootsname</th>
		</tr>
		
		{% for Meldung in Liste %}
		<tr>
			<td>{{ Meldung.Vorname }} {{ Meldung.Name }}</th>
			<td>{{ Meldung.Segelnummer }}</th>
			<td>{{ Meldung.Club }}</th>
			<td>{{ Meldung.Bootstyp }}</th>
			<td>{{ Meldung.Yardstick }}</th>
			<td>{{ Meldung.Bootsname }}</th>
		</tr>
		{% endfor %}
		
	
	
	</table>
	
</html>
	
